@font-face {
    font-family: main-font;
    src: url('../assets/fonts/Cybergame-Regular Italic.ttf');
}

.font-Cybergame{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
}