#div-coins
{
    width: 16%;
    border: 3px solid rgba(255, 255, 255, 0.91);
    margin: 1% 1% 1% auto;
    background-color: rgba(251, 251, 251, 0.42);
    padding: 0.5% 0.3% 0.5% 0.3%;
    display: flex;
    border-radius: 10px;
}
#coins-text
{
    width: 69%;
    margin: auto 0 auto auto;
    font-size: 200%;
    text-align: right;
    font-weight: bold;
    padding-right: 2%;
}
#coin
{
    width: 30%;
    height: 30%;
    margin: auto 0 auto 0;
}

.card-hero
{
    width: 30% !important;
    margin: 1% auto 0 !important;
    border-color: #fff200 !important;
    background-color: #fffde9 !important;
    border-width: 3px !important;
    padding-top: 0.5% !important;
}
.div-card-info{
    padding-top: 0;
}

.card-name{
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 200%;
    font-weight: bold;
}
.card-health{
    font-size: 80%;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 0;
}
.card-effect-name{
    font-size: 80%;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 0;
}
.card-effect-descr
{
    font-size: 80%;
    margin-bottom: 0;
}

#btn-play {
    margin: 1% auto;
    display: flex !important;
    width: 12%;
    padding: 0.6%;
    border-radius: 10px;
    background: #18f300;
    transition-duration: 0.4s;
}

.animation-hover:hover {
    background-color: #f3ef00 !important;
    color: white !important;
}